
/****************************************************************************/

/*                     ACCUEIL                                              */

/***************************************************************************/

.facebook__container {
	h3 {
		margin-bottom: 16px;
	}
}

.bg-gris {
  background: $the-grey;
}
.out-citation {
  margin: 1em 0;
  overflow: hidden;
}
.out-nouvelle {
  margin: 0 0 1em 0;
  overflow: hidden;
  padding: 1em 0.75em 0 0;
  border: solid 1px #f2f2f2;
  background: #fafafa;
}
.text-citation p {
  font-family: "museo_slab300";
  margin: 0.5em 0 0;
}
.citation-evidence {
  border-bottom: solid 3px $the-yellow;
  font-family: "museo_slab700";
  margin: 0 0.5em;
}
.citation-accueil {
  text-align: center;
  font-family: "museo_slab300";
  font-size: 1.2em;
  padding: 0.75em 0;
}
.fluid-bg-cite-joie {
  background: #fafafa;

  margin: 1em 0;
}
.promo-cite-joie {
  padding: 1em 0;
  overflow: hidden;
}
.promo-cite-joie p {
  font-family: "museo_slab300";
}
.promo-cite-joie img {
  margin: 0 1em 0 0;
}
.rt-box-index {
  background: #fff;
  border: 1px solid #d6dcee;
  padding: 0.5em 1em;
}
.rt-box-index h4 {
  color: #02206f;
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px dashed #02206f;
}
.rt-box-index p {
  margin-bottom: 20px;
}
.rt-box-index .btn-default {
  font-weight: bold;
  color: #fff;
  background: #0058a3;
}

.une-nouvelle {
  margin: 0 0 1em 0;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  padding: 1em;
  overflow: hidden;
}

.dateacc-news {
  font-size: 0.8em !important;
  font-style: italic;
}
.une-nouvelle-acc {
  margin-bottom: 1em;
  border-bottom: solid 1px #e8e8e8;
  padding-bottom: 1em;
}
.une-nouvelle-acc:last-child {
  border-bottom: none;
}

.rt-box-index h5 {
  font-weight: bold;
}
.rt-box-index .boite_texteBulletin {
  border-bottom: solid 1px #ccc;
  padding-bottom: 1em;
}
.rt-box-index .boite_texteBulletin:last-child {
  border-bottom: none;
}
.rt-box-index .boite_texteBulletin .btn-default a {
  color: #fff !important;
  font-size: 0.75em;
}
.rt-box-index .boite_texteBulletin p {
  margin-bottom: 10px;
}